@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap')

body
	background: #ccc
	font-family: 'Open Sans', sans-serif

	*
		outline: none !important
		box-sizing: border-box
		appearance: none

	a
		text-decoration: none

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	background: #fff
	.menu
		position: relative
		height: 80px
		.logo
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			@media (max-width: 991px)
				position: relative
				transform: initial
				top: initial
				left: initial
				padding: 27px 0
			a
				color: #43ab92
				font-size: 26px
				line-height: 1
		.open_menu
			display: none
			@media (max-width: 991px)
				display: block
				position: absolute
				top: 0
				right: 0
				bottom: 0
				padding: 27px 5px
				span
					display: block
					width: 26px
					color: #43ab92
					font-size: 26px
					line-height: 26px
					text-align: center
		nav
			display: flex
			flex-wrap: wrap
			@media (max-width: 991px)
				display: block
				position: fixed
				right: 0
				top: 0
				bottom: 0
				background: #fff
				width: 280px
				display: none
			.close_menu
				display: none
				@media (max-width: 991px)
					display: block
					width: 24px
					height: 24px
					position: absolute
					right: 10px
					top: 10px
					span
						display: block
						line-height: 1
						font-size: 20px
						line-height: 24px
						text-align: center
						opacity: 0.5
			.left
				@media (max-width: 991px)
					padding-top: 30px
			.right
				margin-left: auto
				@media (max-width: 991px)
					margin-left: 0
			.left,
			.right
				display: flex
				flex-wrap: wrap
				@media (max-width: 991px)
					display: block
				a
					display: block
					line-height: 80px
					padding: 0 15px
					color: #000
					font-size: 16px
					@media (min-width: 992px)
						&:hover
							color: #43ab92
					@media (max-width: 991px)
						line-height: 1.75
						padding: 10px 30px

@media (min-width: 992px)
	a
		transition: all 0.15s ease-in-out
