@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap')

body
	background: #ccc
	font-family: 'Open Sans', sans-serif
	font-weight: 300
	line-height: 1.5
	*
		outline: none !important
		box-sizing: border-box
		appearance: none

	a
		text-decoration: none

.button
	color: #fff
	background-color: #43ab92
	border: 0
	display: inline-block
	padding: 12px 20px
	font-size: 14px
	line-height: 1
	font-weight: 400

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	background: #fff
	z-index: 9
	&:before
		content: ""
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #00000080
		opacity: 0
		z-index: 99
		pointer-events: none
		transition: all 0.15s ease-in-out
	
	@media (max-width: 991px)
		&.open
			&:before
				opacity: 1
				pointer-events: auto
			.menu
				nav
					transform: translate(0, 0)
	.menu
		position: relative
		height: 80px
		.logo
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			@media (max-width: 991px)
				position: relative
				transform: initial
				top: initial
				left: initial
				padding: 27px 0
			a
				color: #43ab92
				font-size: 26px
				line-height: 1
		.open_menu
			display: none
			@media (max-width: 991px)
				display: block
				position: absolute
				top: 0
				right: -15px
				bottom: 0
				padding: 27px 15px
				span
					display: block
					width: 26px
					color: #43ab92
					font-size: 26px
					line-height: 26px
					text-align: center
		nav
			display: flex
			flex-wrap: wrap
			@media (max-width: 991px)
				display: block
				position: fixed
				right: 0
				top: 0
				bottom: 0
				background: #fff
				width: 280px
				z-index: 999
				transform: translate(100%, 0)
				transition: all 0.15s ease-in-out
			.close_menu
				display: none
				@media (max-width: 991px)
					display: block
					width: 40px
					height: 40px
					position: absolute
					right: 0
					top: 0
					span
						display: block
						line-height: 1
						font-size: 26px
						line-height: 40px
						text-align: center
						opacity: 0.5
			.left
				@media (max-width: 991px)
					padding-top: 30px
			.right
				margin-left: auto
				@media (max-width: 991px)
					margin-left: 0
			.left,
			.right
				display: flex
				flex-wrap: wrap
				@media (max-width: 991px)
					display: block
				a
					display: block
					line-height: 80px
					padding: 0 15px
					color: #000
					font-size: 16px
					@media (min-width: 992px)
						&:hover
							color: #43ab92
					@media (max-width: 991px)
						line-height: 1.75
						padding: 10px 30px

.banner
	margin-top: 80px
	height: calc(100vh - 80px)
	height: calc( (var(--vh, 1vh) * 100) - 80px)
    position: relative
	.banner-slider
		height: 100%
		.photo
			height: calc(100vh - 80px)
			height: calc( (var(--vh, 1vh) * 100) - 80px)
			background-size: cover
			background-position: center

	.text-slider
		z-index: 2
		background: #fff
		padding: 60px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		width: calc(100% - 30px)
		max-width: 500px
		pointer-events: none
		@media (max-width: 575px)
			padding: 30px
		h2
			margin: 0
			font-size: 36px
			line-height: 1.33
			font-weight: 300
			text-transform: uppercase
			color: #364d59
			margin-bottom: 15px
			@media (max-width: 575px)
				font-size: 30px
		p
			margin: 0
			font-weight: 300
		.button_line
			margin-top: 30px

@media (min-width: 992px)
	a
		transition: all 0.15s ease-in-out


.overflow
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: #00000080
	opacity: 0
	z-index: 99
	pointer-events: none
	transition: all 0.15s ease-in-out
